.button {
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #535353 0%, #535353 50%, #444 50%, #444 100%);
  width: 140px; 
  height: 50px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 80%);
}
.button-a {
  color: #fff;
  margin: 0 auto;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
}
.button:hover {
  box-shadow: -5px 5px 10px 1px #28bee6 ,
  5px -5px 10px 1px #D025C5;
}